@import "primeicons/primeicons.css";

.header-container{
  height: 200px;
  margin: 0;
  position: relative;
  background-color: #3498DB;
  flex: 1;
}

.title  {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.title i {
  font-size: 1.3em;
  transform: translateY(8px);
}

p {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

span{
  padding: 2px 5px;
  border-radius: 5px;
}

.positive {
  background-color: #41943e;
}

.negative {
  background-color: #E74C3C;
}
